.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F4F5F5;
  overflow: hidden;
}

.body {
  display: grid;
  grid-template-columns: var(--sidenav-w) 1fr;
  height: calc(100vh - var(--topnav-h));
  overflow: hidden;
}

.main {
  background: #F4F5F5;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.container {
  width: 100%;
  min-height: 100%;
  background: #FAFAFA;
  padding: 2rem;
  border-radius: 24px 0px 0px 0px;
  box-shadow: 0 0 4px 0 rgba(37, 38, 40, 0.08);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


