.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F4F5F5;
}

.body {
  display: grid;
  grid-template-columns: var(--sidenav-w) 1fr;
  min-height: calc(100vh - var(--topnav-h));
}

.main {
  background: #FAFAFA;
  padding: 0 var(--space-24) var(--space-32);
  border-radius: 24px 0px 0px 0px;
box-shadow: 0 0 4px 0 rgba(37, 38, 40, 0.08);
display: flex;
padding: 2rem;
flex-direction: column;
align-items: flex-start;
gap: 2rem;
flex: 1 0 0;
align-self: stretch;
}

.container {
  width: 100%;
}


