.card {
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-sm);
}

.pageTitleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-16);
  width:100%;
 
}

.toolbarRow {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  flex-wrap: wrap;
}

.pill {

  display: flex;
padding: var(--4, 0.5rem) var(--5, 0.75rem);
justify-content: center;
align-items: center;
gap: var(--3, 0.375rem);
  border-radius: var(--borderRadius, 0.25rem);
  border: 1px solid var(--Colors-Border-border-primary, #D8D9DA);
  background: var(--Colors-Background-bg-primary, #FFF);
  
  /* Shadow/xs */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  color: #3E4041 !important;

/* Button/medium */
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: 1.25rem; /* 142.857% */
transition: all 0.3s ease;


}


.pillIcon{

  display: flex;
justify-content: center;
align-items: center;

}

.pill:hover{
  border-radius: var(--borderRadius, 0.25rem);
border: 1px solid var(--Colors-Border-border-primary, #D8D9DA);
background: var(--Colors-Background-bg-primary_hover, #FAFAFA);
cursor: pointer;
}